<h2><%= t('views.common.title_edit', name: User.model_name.human) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field">
  <%= f.label :post_code %>
  <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
</div>

<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
</div>

<div class="field">
  <%= f.label :comment %>
  <%= f.text_field :comment, autofocus: true, autocomplete: "comment" %>
</div>
<h3><%= t('devise.passwords.edit.change_my_password') %></h3>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
      </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

<div class="actions">
  <%= f.submit t('devise.registrations.edit.update') %>
</div>
<% end %>
<%= link_to t('views.common.back'), :back %>