<p id="notice"><%= notice %></p>

<h1><%= User.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to t('views.common.profile'), user %></td>
      <td><%= link_to t('views.common.edit'), edit_user_registration_path %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>

<br>