<p id="notice"><%= notice %></p>
<h1><%= t('views.common.profile') %></h1>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @users.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @users.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:post_code) %>:</strong>
  <%= @users.post_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @users.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:comment) %>:</strong>
  <%= @users.comment %>
</p>
<% if @users.user_id == current_user.user_id %>
<%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>